* {
    font-family: 'Work Sans', sans-serif;
    

}

/* Header styles */
.banner {
    background-image: url(../Images/banner/banner1.png);
    margin-left: 200px;
    height: 808px;
    width: 1600px;
}

.banner-text {

    float: right;
    margin-top: 216px;
    padding-right: 200px;
    width: 525px;
    height: 228px;
    text-align: right;
}

.head-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.head-body {
    margin-top: 10px;
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    color: #444343
}

.head-btn {
    margin-top: 10px;
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    border-color: transparent;
    font-size: 20px;
    padding: 21 25;

}

/* body styles */

 /* Top Section of body  */
.sec_1 {
    margin-left: 200px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.main-title1 {

    width: 288px;
    font-weight: 700;
    font-size: 40px;

}

.main-body1 {

    width: 416px;
    
    font-weight: 400;
    font-size: 20px;

}

.main-body2 {

    width: 349px;
    font-weight: 400;
    font-size: 20px;
    
}
/* Middle section of body  */
.sec_2 {
    margin-left: 400px;
    width: 1140px;
    height: 300px;
    
    

}
.main-ttitle2{
    text-align: center;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 20px;
}
.plans{
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    
    
}
.plan-text{
    font-size: 20px;
    margin-bottom: 20px;
}

/* Bottom section of body */

.sec_3 {
    background-image: url(../Images/gradient2.png),url(../Images/watch.png);
    background-repeat: no-repeat;
    margin-left: 400px;
    margin-top: 50px;
    color: #FFFFFF;
    
    width: 1140px;
    height: 300px;
    padding-left: 64px;
    padding-top: 64px;
}
.sec_3 h1{
   
    width: 450px;
}
/* footer styles */
.footer{

    margin-left: 200px;
    padding-top: 50px;
    width: 1600px;
    background-color: #151414;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}
.ftext{
    padding-left: 200px;
    width: 480px;
}
.fsub{
    padding-right: 100px;
    width: 480px;
    list-style: none;
    font-weight: 500;
}
.mail{
    width:325px;
    height:50px;
    background-color: #151414;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
.whitebtn{
    height: 50px;
    width: 160px;
    color: #F15B22;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 21 25;
    border-radius: 5px;
    border-color: transparent;


}